<main>
    <h1 class="welcome-user">Welcome {{user.name}}!</h1>
    <div class="content-wrapper">
        <div class="edit-room">
            <h2 class="no-room-selected">Select a room to edit</h2>
            
        </div>
        <div class="room-listings">
            {{#if rooms}}
                {{#each rooms}}
                    <section id="{{_id}}" class="room-card">
                        <img src="{{image}}" alt="Room 1" loading="lazy" class="room-image">
                        <p class="room-location">{{location}}</p>
                        <h3 class="room-title">{{title}}</h3>
                        <p class="room-price">${{price}} CAD/night</p>
                    </section>
                {{/each}}
            {{else}}
                <h1>There are no rooms listed</h1>
            {{/if}}
        </div>
    </div>
</main>