<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../css/common.css">
    {{#if style}}
        <link rel="stylesheet" href="../css/{{style}}.css">
    {{/if}}
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico"/>
</head>
<body>
    {{#if promo}}
        <div class="promo-banner">
            <p>{{promo.description}} <span class="discount-code">{{promo.code}}</span></p>
        </div>
    {{/if}}

    {{#if session}}
        {{> header session="session" }}  
    {{else}}
        {{> header }}  
    {{/if}}
    {{{ body }}}
    {{> footer}}

    <script src="../js/header.js"></script>
    {{#if script}}
        <script src="../js/{{script}}.js"></script>
    {{/if}}
</body>
</html>